.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.words-list-title {
    text-align: center;
}
.words-list {
    width: 100%;
    max-width: 900px;
}
.word-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.word-inputs >.dropdown,
.word-inputs > input,
.word-inputs > button{
    margin: 0 5px;
}
.word-inputs button {
    display: inline-block;
}
.modal-content {
    top: 50%;
}
.icon-btn-right {
    margin: 0 20px 0 0;
    cursor: pointer;
}
.icon-btn-left {
    margin: 0 0 0 20px;
    cursor: pointer;
}
.panel-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.word-icons{
    width: 100px;
    line-height: 1px;

}
.word-texts {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.word-word,
.word-mean {
    width: 100%;
}

.word-buttons {
    width: 100px;
    line-height: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}