<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheatsheet Concept</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <link rel='stylesheet' href="../css/prism.css">
    <link rel="stylesheet" href="../css/cheatsheet.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&display=swap" rel="stylesheet">
</head>

<script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
<style>
    .font-size2 {
        font-size: 100px;
        font-family: 'East Sea Dokdo', cursive;
        font-family: 'Gugi', cursive;
    }

</style>
<script>

</script>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content is-grouped">
                    <i class="is-large fab fa-github is-pulled-left"></i>
                    <p class="title font-size2 ">
                <span>
                  hello world
                </span>
                        <a href="https://github.com/BulmaTemplates/bulma-templates" target="_blank"
                           class="button is-primary is-large is-pulled-right">
                            <span>Github</span>
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-halfheight">
    <div class="hero-body column is-offset-5 has-text-centered">
        <div class="login box is-1">
            <form>
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded" type="email" placeholder="hello@example.com"
                               autocomplete="username" required="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded" type="password" placeholder="**********"
                               autocomplete="current-password" required="">
                    </div>
                </div>
                <br>
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                    Login
                </button>
            </form>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="#">Create an Account</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
</div>
</section>


</body>
</html>
