<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- 하상우 -->
    <meta charset="UTF-8">
    <title>Hello word | 메인 페이지</title>

    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&display=swap" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- (추가) 최원영 : 커스터마이징 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- 최원영 -->
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/element.triggers.js') }}"></script>

    <!-- 하상우 : CSS 파일로 분리 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>

<script>
    $(document).ready(() => {
        $("#signup-form-box").hide();

        $('#login-form-box').on('submit', (e) => {
            e.preventDefault();
            login();
        })

        $('#signup-form-box').on('submit', (e) => {
            e.preventDefault();
            signup();
        })
    });

    const goSignup = () => {
        $("#login-form-box").hide();
        $("#signup-form-box").show();
    }
    const goLogin = () => {
        $("#signup-form-box").hide();
        $("#login-form-box").show();
    }

    // 로그인
    const login = () => {
        let user_id = $("#login-id").val()
        let user_passwd = $("#login-passwd").val()

        if (user_id === "") return AlertDanger("아이디를 입력하세요")
        if (user_passwd === "") return AlertDanger("비밀번호를 입력하세요")

        $.ajax({
            type: "POST",
            url: "/api/login",
            data: {user_id, user_passwd},
            success: (res) => {
                const {ok, token, message} = res;
                if (!ok) return AlertDanger(message);
                $.cookie('hello-token', token, { path: '/' });
                return window.location.replace("/mywords")
            }
        });
    };

    // 회원가입시 아이디 유효한지
    const isValidId = (id) => {
        const exp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
        return exp.test(id);
    };

    // 회원가입시 비밀번호 유효한지
    const isValidPasswd = (passwd) => {
        const exp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
        return exp.test(passwd);
    };

    const signup = () => {
        let user_id = $("#signup-id").val();
        let user_name = $("#signup-name").val();
        let user_passwd = $("#signup-passwd").val();
        let passwdConfirm = $("#signup-passwd-confirm").val();

        if (user_id === "") return AlertDanger("아이디를 입력하세요");
        if (!isValidId(user_id)) return AlertDanger("아이디의 형식을 확인하세요.\n(2-10자, 영문과 숫자, 특수 문자(. _ -) 사용 가능");
        if (user_name === "") return AlertDanger("이름을 입력하세요");
        if (user_passwd === "") return AlertDanger("비밀번호를 입력하세요");
        if (!isValidPasswd(user_passwd)) return AlertDanger("비밀번호 형식에 맞지 않습니다.\n(8-20자, 영문 및 숫자 필수, 특수 문자(!@#$%^&*) 사용 가능 ");
        if (user_passwd !== passwdConfirm) return AlertDanger("비밀번호가 일치하지 않습니다.");

        $.ajax({
            type: "POST",
            url: "/api/signup",
            data: {user_id, user_name, user_passwd},
            success: (res) => {
                const {ok, message} = res;
                if (!ok) return AlertDanger(message);
                AlertSuccess("회원가입이 완료되었습니다.", true);
            }
        });
    };
</script>
<body>

<!-- 상단 네이게이션 -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://hanghae99.spartacodingclub.kr/?utm_source=google_sa&utm_medium=paid&utm_campaign=15140556153&utm_content=129341608796&utm_term=%ED%95%AD%ED%95%B499_558314615957&gclid=Cj0KCQiAmpyRBhC-ARIsABs2EArVF6Ree0Z3qIrXLE3jeEaeuP4Dq5U-joTn14vqtoSuuI_hKMO_CowaAjZ8EALw_wcB">
      <img src="https://hanghae99.spartacodingclub.kr/static/images/logo.svg" width="95" height="28">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="buggerMenuClick()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        홈
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" onclick="mobileDropDownClick()">
          더보기
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://github.com/choewy">
              GitHub - 최원영
          </a>
          <a class="navbar-item" href="https://github.com/voyager16">
              GitHub - 하상우
          </a>
          <a class="navbar-item" href="https://github.com/smhong">
              GitHub - 홍승민
          </a>
          <a class="navbar-item" href="https://github.com/fomula91">
              GitHub - 김형중
          </a>
          <hr class="navbar-divider">
              <a class="navbar-item" href="https://github.com/fomula91/HelloWord">
                GitHub Repository
              </a>
              <a class="navbar-item" href="https://choewy.tistory.com/125">
                S.A(Start Assignment)
              </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" onclick="goLogin()">
            <strong>로그인</strong>
          </a>
          <a class="button" onclick="goSignup()">
            <strong>회원가입</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- 대문 -->
<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content is-grouped">
                    <i class="is-large fab fa-github is-pulled-left"></i>
                    <p class="title font-size2" style="font-size: 75px; font-family: 'Gugi', cursive;">
                    <span>
                      hello words
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-halfheight">
    <div class="hero-body column has-text-centered" style="padding-bottom: 0;">
        <form id="login-form-box" class="login box is-1">
            <div>
                <div class="field">
                    <div class="control">
                        <input id="login-id" class="input is-medium is-rounded" type="text" placeholder="아이디"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="login-passwd" class="input is-medium is-rounded" type="password" placeholder="비밀번호"
                               autocomplete="off">
                    </div>
                </div>
                <br>
                <button type="submit" class="button is-block is-fullwidth is-primary is-medium is-rounded" >
                    로그인
                </button>
                <br>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="text-btn" onclick="goSignup()">계정이 없으신가요?</p>
                        </div>
                    </div>
                </nav>
            </div>
        </form>
        <form id="signup-form-box" class="login box is-1">
            <div>
                <div class="field">
                    <div class="control">
                        <input id="signup-id" class="input is-medium is-rounded" type="text" placeholder="아이디"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="signup-name" class="input is-medium is-rounded" type="text" placeholder="이름"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="signup-passwd" class="input is-medium is-rounded" type="password" placeholder="비밀번호"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="signup-passwd-confirm" class="input is-medium is-rounded" type="password"
                               placeholder="비밀번호 확인"
                               autocomplete="off">
                    </div>
                </div>
                <br>
                <div>
                <button type="submit" class="button is-block is-fullwidth is-primary is-medium is-rounded">
                    회원가입
                </button>
                </div>
                <br>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="text-btn" onclick="goLogin()">이미 계정이 있으신가요?</p>
                        </div>
                    </div>
                </nav>
            </div>
        </form>
        <!-- Custom Alert -->
        <div id="alart" class="column is-half is-offset-one-quarter alert-fix" style="top: 0; margin-left:0;"></div>
    </div>
</section>
</body>
</html>