<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheatsheet Concept</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <link rel='stylesheet' href="../css/prism.css">
    <link rel="stylesheet" href="../css/cheatsheet.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&display=swap" rel="stylesheet">

</head>

<script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
<style>
    .font-size2 {
        font-size: 100px;
        font-family: 'East Sea Dokdo', cursive;
        font-family: 'Gugi', cursive;
    }

</style>
<script>

</script>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content is-grouped">
                    <i class="is-large fab fa-github is-pulled-left"></i>
                    <p class="title font-size2">
                <span>
                  hello word
                </span>
                        <a href="https://github.com/BulmaTemplates/bulma-templates" target="_blank"
                           class="button is-primary is-large is-pulled-right">
                            <span>Github</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <aside class="is-medium menu">
                    <p class="menu-label">
                        categories
                    </p>
                    <ul class="menu-list">
                        <li class="is-right"><a href="#const" class="is-active"><i class="fab fa-css3-alt"></i> CSS</a>
                        </li>
                        <li><a href="#let" class="is-active"><i class="fab fa-js"></i> JS</a></li>
                        <li><a href="#let" class="is-active"><i class="fab fa-html5"></i> HTML</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <div class="content is-medium">
                    <div class="box">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="input">
                            </p>
                            <p class="control">
                                <a class="button is-info">
                                    add
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <h4 id="const" class="title is-3">const</h4>
                        <article class="message is-primary">
                  <span class="icon has-text-primary">
                  <i class="fab fa-js"></i>
                  </span>
                            <div class="message-body">
                                Block-scoped. Cannot be re-assigned. Not immutable.
                            </div>
                        </article>
                        <pre><code class="language-javascript">const test = 'test';</code></pre>
                    </div>
                    <div class="box">
                        <h4 id="let" class="title is-3">let</h4>
                        <article class="message is-primary">
                <span class="icon has-text-primary">
                  <i class="fas fa-info-circle"></i>
                </span>
                            <div class="message-body">
                                Block-scoped. Can be re-assigned.
                            </div>
                        </article>
                        <pre><code class="language-javascript">let i = 0;</code></pre>
                    </div>
                    <div class="box">
                        <h4 id="lorem" class="title is-4">More to come...</h4>
                        <article class="message is-primary">
              <span class="icon has-text-primary">
                <i class="fas fa-info-circle"></i>
              </span>
                            <div class="message-body">
                                Lorem ipsum dolor sit amet, mea ne viderer veritus menandri, id scaevola gloriatur
                                instructior sit.
                            </div>
                        </article>
                        <pre><code class="language-javascript">let i = 0;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
