<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 담당 : 최원영-->
    <meta charset="UTF-8">
    <title>Hello Word | 나만의 단어장</title>

    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mywords.css') }}">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&display=swap" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script rel="stylesheet" src="{{ url_for('static', filename='js/mywords.js') }}"></script>
</head>
<script>
        {% if message %}
            alert(`${{message}}`);
            location.replace("/");
        {% endif %}
</script>
<body>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content is-grouped">
                    <i class="is-large fab fa-github is-pulled-left"></i>
                    <p class="title font-size2">
                        <span>
                          Hello Word
                        </span>
                        <a href="https://github.com/BulmaTemplates/bulma-templates" target="_blank"
                           class="button is-primary is-large is-pulled-right">
                            <span>Team #1 GitHub</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <article class="panel is-primary words-list">
      <p class="panel-heading words-list-title">
        나만의 단어장
      </p>
      <div class="panel-block">
        <div class="control word-inputs">
            <div id="filter-trigger" class="dropdown" onclick="filterToggle()">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span id="filter-item"></span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div id="filter-items" class="dropdown-content"></div>
          </div>
        </div>
            <input id="word-word" class="input is-primary" type="text" placeholder="영어단어">
            <input id="word-mean" class="input is-primary" type="text" placeholder="뜻">
            <button class="button is-primary">추가</button>
        </div>
      </div>
        <div id="words-box"></div>
    </article>
</section>
<div id="word-modal" class="modal">
  <div class="modal-background" onclick="modalClose()"></div>
  <div class="modal-content">
    <div id="word-modal-content" class="box"></div>
  </div>
</div>
</body>
</html>