<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 홍승민 -->
    <meta charset="UTF-8">
    <title>Hello word</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gugi&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>

    <!-- (추가) 최원영 : 토큰 확인 -->
    <script src="{{ url_for('static', filename='js/authorize.js') }}"></script>

    <!-- (추가) 최원영 : 커스터마이징 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script rel="stylesheet" src="{{ url_for('static', filename='js/element.triggers.js') }}"></script>

    <!-- (추가) 최원영 : CSS 파일로 분리 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">

    <script>
        $(document).ready(function () {
            get_quiz_words(10)
        })

        function get_quiz_words(cards_cnt = 10, isPublic = false) {
            $.ajax({
                type: "GET",
                url: "/api/words" + (isPublic ? "?public=" + isPublic : ''),
                data: {},
                success: function (response) {
                    if (response['ok'] === true) {
                        init_card_word(shuffle(response['words']), cards_cnt)
                    } else {
                        alert(response['message'])
                    }
                }
            });
        }

        function init_card_word(words, cards_cnt) {
            let cards_box = $('#cards-poster')
            cards_box.empty()

            if (words.length < cards_cnt)
                cards_cnt = words.length

            for (let i = 0; i < cards_cnt; i++) {
                let word = words[i]
                template_html = `
                <div class="cardContainer">
                    <div id="card_${i + 1}" class="skyblue2 question-box" >
                        <p>${word['word_word']}</p>
                    </div>
                    <div id="reverse_card_${i + 1}" class="skyblue answer-box">
                        <p style="font-size: 16px;">${word['word_mean']}</p>
                        <p class="answer-buttons">
                            <button class="button is-success" onclick="card_word_answer_click(${i + 1},true)">맞았어요</button>
                            <button class="button is-danger" onclick="card_word_answer_click(${i + 1},false)">틀렸어요</button>
                        </p>
                    </div>
                </div>
                `

                cards_box.append(template_html)
            }
        }

        function card_word_answer_click(card_idx, answer) {
            if (answer) {
                $('#card_' + card_idx).attr('class', 'green2 question-box')
                $('#reverse_card_' + card_idx).attr('class', 'green answer-box')
            } else {
                $('#card_' + card_idx).attr('class', 'pink question-box')
                $('#reverse_card_' + card_idx).attr('class', 'red answer-box')
            }

        }

        function cards_mix() {
            let cards_cnt = $('#mix_card_num_input').val()
            if (cards_cnt.length === 0)
                cards_cnt = 10
            if (cards_cnt < 0)
                cards_cnt = 10
            if (cards_cnt > 100)
                cards_cnt = 100

            get_quiz_words(cards_cnt)
        }

        function cards_all() {
            let cards_cnt = $('#mix_card_num_input').val()
            if (cards_cnt.length === 0)
                cards_cnt = 10
            if (cards_cnt < 0)
                cards_cnt = 10
            if (cards_cnt > 100)
                cards_cnt = 100

            get_quiz_words(cards_cnt, true)
        }

        function shuffle(array) {
            for (let i = 0; i < array.length; i++) {
                let j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        function logout() {
            $.removeCookie('hello-token');
            location.reload();
        }


    </script>
</head>

<body>

<!-- (추가) 최원영 : 상단 네이게이션 -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item"
           href="https://hanghae99.spartacodingclub.kr/?utm_source=google_sa&utm_medium=paid&utm_campaign=15140556153&utm_content=129341608796&utm_term=%ED%95%AD%ED%95%B499_558314615957&gclid=Cj0KCQiAmpyRBhC-ARIsABs2EArVF6Ree0Z3qIrXLE3jeEaeuP4Dq5U-joTn14vqtoSuuI_hKMO_CowaAjZ8EALw_wcB">
            <img src="https://hanghae99.spartacodingclub.kr/static/images/logo.svg" width="95" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"
           onclick="buggerMenuClick()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                홈
            </a>
            <a class="navbar-item" href="/mywords">
                나만의 단어장
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" onclick="mobileDropDownClick()">
                    더보기
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://github.com/choewy">
                        GitHub - 최원영
                    </a>
                    <a class="navbar-item" href="https://github.com/voyager16">
                        GitHub - 하상우
                    </a>
                    <a class="navbar-item" href="https://github.com/smhong">
                        GitHub - 홍승민
                    </a>
                    <a class="navbar-item" href="https://github.com/fomula91">
                        GitHub - 김형중
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://github.com/fomula91/HelloWord">
                        GitHub Repository
                    </a>
                    <a class="navbar-item" href="https://choewy.tistory.com/125">
                        S.A(Start Assignment)
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button" onclick="logout()">
                        <strong>로그아웃</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container content is-grouped">
                    <i class="is-large fab fa-github is-pulled-left"></i>
                    <p class="title font-size2" style="font-size: 75px; font-family: 'Gugi', cursive;">
                    <span>
                      hello words
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding-top: 1.5rem">
    <div style="text-align: center;">
        <input id="mix_card_num_input" class="input is-primary is-large" type="number" max="100" placeholder="카드 수?"
               style="width: 15rem">
        <button class="button is-success is-large" onclick="cards_mix()">나만의 단어</button>
        <button class="button is-info is-large" onclick="cards_all()">랜덤 단어</button>
    </div>
</section>
<section class="section" style="padding: 0 1.5rem;">
    <div class="container">
        <div class="columns" style="justify-content: center;">
            <div class="column is-10">
                <section class="container">
                    <div class="wrapper">
                        <div id="cards-poster" class="poster">

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
</body>
</html>